
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e4e4e4;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
 
}

.heading { 
    align-content: center;
    margin-bottom: 20px;
}


nav {
  
    color: #533e2d;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
   background-image:url('201.png');
   object-fit: cover;
   height: 60px;
   width: 160px;
   background-repeat: no-repeat;
  
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
    color: #000000;
    text-decoration: none;
    font-weight: 500;
}

.nav-links a:hover {
    color: #ffffff;
}

.contact-container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #e4e4e4;
}
.contact-info {
    text-align: center;
    margin-bottom: 30px; 
}


.contact-info h1 {
    color: #333;
    font-size: 32px;
    margin-bottom: 20px;
}

.contact-info p {
    color: #555;
    font-size: 18px;
}

.contact-form {
    align-items: center;
    flex: 2;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    width: 700px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form label {
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.contact-form input, .contact-form textarea {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}

.contact-form input:focus, .contact-form textarea:focus {
    border-color: #333;
    outline: none;
}

.contact-form button {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 12px;
    border-color: #000000;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #000000;
    color: #ffffff;
}

footer {
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        padding: 20px;
    }

    .contact-info {
        padding-right: 0;
    }

    .contact-form {
        margin-top: 20px;
    }
}
