* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e4e4e4;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    align-content:center ;
 
}

.heading { 
    align-content: center;
    margin-bottom: 20px;
}

nav {
  
    color: #533e2d;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
   background-image:url('201.png');
   object-fit: cover;
   height: 60px;
   width: 160px;
   background-repeat: no-repeat;
  
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links a {
    color: #000000;
    text-decoration: none;
    font-weight: 500;
}

.nav-links a:hover {
    color: #ffffff;
}



.product-page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: white;
    margin: 50px;
    margin-bottom: px;
}

.product-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    max-width: 500px; 
    margin: 100px;
    margin-bottom: 30px;
    margin-top: 10px;
}

.product-details {
    flex: 1;
    padding-left: 20px;
}

.product-details h1 {
    font-size: 32px;
    color: #333;
    margin: 20px;
    
}

.product-description {
    width: 500px;
    font-size: 15px;
    color: #555;
    margin: 20px;
}

.product-sizes {
    margin: 20px;
}

.product-sizes h3 {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.product-sizes .sizes label {
    margin-right: 20px;
    font-size: 16px;
    cursor: pointer;
}

.product-price h2 {
    font-size: 28px;
    color: black;
    margin: 20px;
}

.add-to-cart-btn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 12px;
    border-color: #000000;
    cursor: pointer;
    font-size: 16px;
    width: 50%;
    transition: background-color 0.3s ease;
    margin-left: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
}


.add-to-cart-btn:hover {
    background-color: #000000;
    color: #fff;
}

.return-policy {
    width: 500px;
    margin-left: 20px;
    margin-top: 20px;
}

.return-policy h3 {
    font-size: 15px;
    font-weight: 700;
    color: #333;
}

.return-policy p {
    font-size: 14px;
    color: #555;
}

footer {
    background-color: #000;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}
